@import '../../responsive.scss';

.card{
    display: flex;
    gap: 20px;

    .imgContainer{
        flex: 2;
        
        @include mediumScreens{
            display: none;
        }

        img{
            width: 280px;
            height: 200px;
            border-radius: 10px;
        }
    }
    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        flex: 3;

        img{
            width: 16px;
            height:16px;
        }

        .title{
            font-size: 24px;
            color: #444;
            transition: all 0.5s ease;

            &:hover{
                color: #000000;
                scale: 1.01;
            }
        }

        .location{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #888;
        }

        .price{
            background-color: #FFE9B3;
            padding: 8px 15px;
            font-size: 16px;
            width: max-content;
            border-radius: 5px;
            font-weight: 300;
        }

        .bottomInfo{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .leftInfo{
                display: flex;
                gap: 30px;

                button{
                    background-color: #F5F5F5;
                    padding: 8px 10px;
                    border: none;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
            .rightInfo{
                display: flex;
                justify-content: flex-end;
                gap: 20px;

                button{
                    background-color: transparent;
                    padding: 5px;
                    cursor: pointer;
                    border: 1px solid #444;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease;

                    &:hover{
                        background-color: #ccc;
                    }
                }
            }
        }
    }
}
 