@import '../../responsive.scss';

.searchBar{
    .top{
        button{
            padding: 12px 28px;
            cursor: pointer;
            background-color: white;
            border: 1px solid #999;
            border-bottom: none;

            &.active{
                background-color: black;
                color: white;
            }

            &:nth-child(1){
                border-top-left-radius: 5px;
                border-right: none;
            }
            &:nth-child(2){
                border-top-right-radius: 5px;
                border-left: none;
            }
        }

    }
    .bottom{
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 64px;

        @include smallScreens{
            flex-direction: column;
            border: none;
            gap: 5px;
        }

        input{
            width: 200px;
            border: none;
            padding: 0px 5px;
            
            @include smallScreens{
                width: 100%;
                border: 1px solid #999;
                padding: 20px 5px;
            }
        }
        button{
            flex: 1;
            background-color: #FECE51;
            border: none;
            padding: 0px 20px;
            cursor: pointer;

            @include smallScreens{
                padding: 20px 5px;
            }

            img{
                width: 25px;
                height: 25px;
            }
        }
    }
    
}